.btn {
    margin-right: 5px;
}
.markedAsDone {
    text-decoration: line-through;
    color: #777;
}
.tableActions {
    width: 155px;
}
.Form {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
}